body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza a div na tela */
    height: 100vh;
    background-image: url('../img/resident-evil-9-fundo.webp');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Fixa a imagem no fundo */
}

.container {
    background: white; /* Mantém a div destacada */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 300px; /* Evita que a div fique muito grande */
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    max-width: 300px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}
